.Main-chat
  .Main-chat__group-info
    .Info-items
      .Info-items__left-item
        .Group-member
          group name1
        %ul.Member-list
          Member :
          %li.Member-list__member
            username
          %li.Member-list__member
            username2
      = link_to "#", class: "Info-items__edit-btn" do
        Edit
  .Main-chat__message-list
    .Message-items
      .Message-items__name-box
        .Message-items__name-box--name
          user name
        .Message-items__name-box--posting-time
          2020年06月09日 12時06分
      .Message-items__text
        おはよう
    .Message-items
      .Message-items__name-box
        .Message-items__name-box--name
          user name2
        .Message-items__name-box--posting-time
          2020年06月09日 12時07分
      .Message-items__text
        おはようございます
  .Main-chat__message-form
    %form.Form
      .Form-items
        %input.Form-items__message{"placeholder": "type a message","type": "text"}
        %label{class: "Form-items__image"}
          = icon('far', 'image')
          %input{type: "file",class: "File"}
      %input.Send-btn{"type": "submit", "value": "Send"}